<%- include("./includes/Header.ejs") %>


    <!-- section One start -->
    <section class="text-center">
        <h5>
            Website development and
            Instagram page design company
        </h5>
        <p>توسعه دهنده وبسایت و طراح صفحات اینستاگرام</p>
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm">
                    <img class="animate__animated animate__pulse animate__infinite"
                        src="./images/sectionOne/icons8-good-quality-100.png" alt="">
                    <div class="text-center">
                        <h3>High Quality</h3>
                        <p>
                            همکاران ما تضمین میکنند ، همیشه بالاترین کیفیت را به شما ارائه دهند
                        </p>
                    </div>
                </div>
                <div class="col-sm">
                    <img class="animate__animated animate__pulse animate__infinite"
                        src="./images/sectionOne/icons8-online-shop-100.png" alt="">
                    <div class="text-center">
                        <h3>Online Application</h3>
                        <p>
                            در هر زمان و هر مکان شما میتوانید در خواست های خود را برای ما ارسال کنید
                        </p>
                    </div>
                </div>
                <div class="col-sm">
                    <img class="animate__animated animate__pulse animate__infinite"
                        src="./images/sectionOne/icons8-timer-100.png" alt="">
                    <div class="text-center">
                        <h3>Speed ​​in presentation</h3>
                        <p>
                            همکاران ما همیشه در کمترین زمان و با بالاترین کیفیت خدمات را ارائه میدهند
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section One end -->

    <!-- section Two start -->
    <section class=" section__two" dir="rtl">
        <div class="container">
            <div class="row">
                <div class="col-sm-12  col-lg-6  div__one">
                    <ul>
                        <li>طراحی وبسایت کسب و کار شما</li>
                        <li>طراحی وبسایت های فروشگاهی</li>
                        <li>طراحی بنر های تبلیغاتی</li>
                        <li>طراحی صفحات شما در اینستاگرام</li>
                    </ul>
                </div>
                <div class="col-sm-12  col-lg-6  div__two">
                    <img class="img-fluid div__two" src="./images/sectionTwo/10168.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- section Two end -->


    <!-- section three start -->
    <section class=" mt-5 section__three">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 div__one text-center">
                    <h1>طراحی واکنشگرا</h1>
                    <hr>

                    <p>
                        طراحی وب سایت ریسپانسیو از ویژگیهای منحصربفرد پروژه‌های طراحی وب تیم طراحی و توسعه رابا
                        می‌باشد. با توجه به گسترش روزافزون موبایل و افزایش بازدید کاربران وبسایت‌ها از طریق تلفن‌های
                        همراه و تبلت، تمامی پروژه‌های طراحی وبسایت وب‌رمز به شکل طراحی سایت ریسپانسیو (Responsive Web
                        Design) پیاده سازی و اجرا می‌شود. در طراحی سایت واکنشگرا، نمایش وبسایت طراحی شده در همه
                        دستگاه‌های کامپیوتری از جمله دسکتاپ٬ موبایل و تبلت متناسب با دستگاه بازدید کننده تغییر کرده و
                        سایز و چینش صفحات وب سایت به شکل صحیح نمایش داده می شود
                    </p>
                    <hr>
                    <p>
                        در طراحی سایت ریسپانسیو نیازی به اسکرول افقی صفحات وب وجود ندارد و به این شکل استاندارد و کاربر
                        پسند، دسترسی آسان توسط دستگاه‌های مختلف همواره رعایت می‌شود. علاوه بر این مزیت دیگر آن دسترسی
                        آسان کاربران شبکه‌های اجتماعی به سایت شما بوده که موجب موفقیت استراتژی های بازاریابی آنلاین
                        سایت‌ها می شود
                    </p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <img class="img-fluid div__three" src="./images/sectionThree/4861083.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- section three end -->

    <!-- secttion four start -->
    <section class="mt-5 container-fluid p-4">
        <div class="border row text-center ">
            <div class="col-sm-12 col-md-4">
                <img class=" col-xs-4 img-fluid" src="./images/sectionFour/icons8-bag-100.png" alt="">
                <h4>طراحی یک وب سایت با هویت</h4>
                <p>
                    وب سایت شما باید هویت داشته باشد. طراحی سایت شما باید نشان دهد که کسب و کارتان چه باورها و ارزش‌هایی
                    دارد.
                </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <img class=" col-xs-4 img-fluid" src="./images/sectionFour/icons8-heart-100.png" alt="">
                <h4>
                    طراحی یک وب سایت زیبا
                </h4>
                <p>
                    ما انسان‌ها زیبایی و نظم را دوست داریم. یک وب سایت جذاب، تاثیری فوق‌العاده‌ بر روی مخاطب شما خواهد
                    گذاشت
                </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <img class=" col-xs-4 img-fluid" src="./images/sectionFour/icons8-lamp-100.png" alt="">
                <h4>
                    طراحی یک وب سایت کاربردی
                </h4>
                <p>
                    اگر استفاده از وب سایت شما راحت نباشد، حتی یک طراحی بصری فوق‌العاده هم کمک چندانی به شما نخواهد کرد
                </p>
            </div>
        </div>
    </section>
    <!-- secttion four end -->
    <!-- GIF -->
    <div class="container text-center mt-5">
        <img class="img-fluid" src="./images/gif/Untitled-3.gif" alt="">
    </div>
    <!-- GIF -->
    <!-- section Five start -->
    <div class="container mt-5" dir="rtl">
        <div class="row">
            <div class="col border p-5 text-center">
                <div class="rounded ">
                    <img src="./images/sectionFive/icons8-user-male-201.png" alt="">
                    <span>خسرو رسولی</span>
                </div>
                <div class="border p-5">
                    <ul>
                        <li>ReactJs developer</li>
                        <li>ReactNative developer</li>
                        <li>NodeJs developer</li>
                        <li>PWA developer</li>
                        <li>Adobe Photoshop </li>
                    </ul>
                </div>
            </div>
            <div class="col border p-5 text-center">
                <div class="rounded ">
                    <img src="./images/sectionFive/icons8-user-male-200.png" alt="">
                    <span>حمید بلالزاده</span>
                </div>
                <div class="border p-5">
                    <ul>
                        <li>ReactJs developer</li>
                        <li>ReactNative developer</li>
                        <li>C# developer</li>
                        <li>Blazor developer</li>
                        <li>Adobe Photoshop </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- section Five end -->

    <!-- section six start -->
    <div class="container my-5 owl_carousel_section p-5">
        <div class="header-carousel text-white text-center my-3">
            <h1>آخرین مقالات</h1>
        </div>
        <div class="carousel">
            <div class="owl-carousel owl-theme">
                <% for (let Blog of Blogs) {%>
                    <div class="item border item-card p-2">
                        <img class="img-fluid img-carousel" src="/uploads/images/<%= Blog.image %>" alt="">
                        <div class="border">
                            <h6 class="d-block text-center mt-3">
                                <%= Blog.title %>
                            </h6>
                            <p>
                                <%-truncate(Blog.desc , 300) %>
                            </p>
                        </div>
                        <a class="btn btn-info text-white w-100" href="/detail-blog/<%= Blog._id%>">ادامه</a>
                    </div>
                    <%}%>
            </div>
        </div>
    </div>
    <!-- section six end -->



    <%- include("./includes/Footer.ejs") %>