<%- include("../includes/HeaderSecure.ejs") %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">لیست پیام ها</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="/admin/home" style="color: #000;">خانه</a></li>
                            <li class="breadcrumb-item active">بلاگ</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- /.Main Page -->
        <div class="col-4">
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">نام و نام خانوادگی</th>
                    <th>عنوان</th>
                    <th scope="col">عملیات ها</th>
                </tr>
            </thead>
            <tbody>
                <% for(let contact of contactUs) {%>
                    <tr>
                        <th scope="row">
                            <%= index ++ %>
                        </th>
                        <td>
                            <%= contact.firstName %>
                                <%= contact.lastName %>
                        </td>
                        <td>
                            <%= truncate(contact.title) %>
                        </td>
                        <td class="text-white">
                            <a href="/admin/contactUs/<%= contact._id%>" type="button" class="btn btn-danger">حذف</a>
                            <a href="/admin/detailcontactUs/<%= contact._id%>" type="button"
                                class="btn btn-success ">مشاهده</a>
                        </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>
        <!-- /.Main Page -->
        <%- include("../includes/pagination.ejs") %>
    </div>
    <!-- /.content-wrapper -->
    <%- include("../includes/FooterSecure.ejs") %>