<%- include("../includes/HeaderSecure.ejs") %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">لیست کاربران</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="/admin/home" style="color: #000;">خانه</a></li>
                            <li class="breadcrumb-item active">کاربران</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- /.Main Page -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">نام کاربری</th>
                    <th scope="col">شماره تماس</th>
                    <th scope="col">فعالیت </th>
                    <th scope="col">عملیات ها</th>
                </tr>
            </thead>
            <tbody>
                <% for(let user of users) {%>
                    <tr>
                        <th scope="row">
                            <%= index++ %>
                        </th>
                        <td>
                            <%= user.fullname %>
                        </td>
                        <td>
                            <%= user.phone %>
                        </td>
                        <% if (user.isAdmin===false) { %>
                            <td>کاربر معمولی</td>
                            <%}else {%>
                                <td>مدیر سایت</td>
                                <%}%>
                                    <td class="text-white">
                                        <a href="/admin/detail-users/<%= user._id%>" type="button"
                                            class="btn btn-warning text-white">اطلاعات</a>
                                        <a href="/admin/delete-users/<%= user._id%>" type="button"
                                            class="btn btn-danger">حذف</a>
                                        <% if (user.isAdmin===false) { %>
                                            <a href="/admin/admin-users/<%= user._id%>" type="button"
                                                class="btn btn-success">مدیر</a>
                                            <%} else {%>
                                                <a href="/admin/set-user/<%= user._id%>" type="button"
                                                    class="btn btn-success">کاربر</a>
                                                <%}%>
                                    </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>
        <!-- /.Main Page -->
        <%- include("../includes/pagination.ejs") %>
    </div>
    <!-- /.content-wrapper -->

    <%- include("../includes/FooterSecure.ejs") %>